form{
    background-color: white;
    width: 80%;
    height: auto;
    text-align: center;
}

textarea{
    font-family: 'Montserrat';
    font-size: 20px;
    margin-top: 10px;
    width: 85%;
    height: 250px;
    outline-color: rgb(0, 123, 255);
    resize: none;
    text-align: center;
    overflow-x: hidden;
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(45deg,#fd004c,#fe9000,#3edf4b,#3363ff,#b102b7);
    border-image-slice: 1;
}
.addBtn {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Montserrat';
    color: white;
    background-color: #5b81ff;
    width: auto;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: -1px 5px 10px rgb(151, 151, 151);
}
.addBtn:hover{
    background-color: rgb(22, 82, 146);
}

.cancelBtn {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Montserrat';
    color: white;
    background-color: #ff5061;
    width: auto;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: -1px 5px 10px rgb(151, 151, 151);
}
.cancelBtn:hover{
    background-color: #802932;
}
.titulo-nota{
    font-family: 'Montserrat';
    font-size: 20px;
    margin-top: 10px;
    width: 85%;
    height: 40px;
    outline-color: rgb(0, 123, 255);
    resize: none;
    text-align: center;
    overflow-x: hidden;
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(45deg,#fd004c,#fe9000,#3edf4b,#3363ff,#b102b7);
    border-image-slice: 1;
}