.search{
    text-align: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Montserrat';
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 20px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(45deg,#fd004c,#fe9000,#3edf4b,#3363ff,#b102b7);
    border-image-slice: 1;
}

.search::placeholder{
    color: rgb(118, 118, 118);
    text-align: center;
}
.search:focus{
    outline-color: #5b81ff;
}
